src/workflow/__tests__/fixtures/n8n-templates/simple-if-http.json
{
  "name": "Simple If Branch",
  "nodes": [
    {
      "id": "abc-123",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "def-456",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.status}}",
              "rightValue": "active",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "ghi-789",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 240],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [
        [{ "node": "HTTP Request", "type": "main", "index": 0 }],
        []
      ]
    }
  }
}
